#schedule-container {
  position: fixed;
  top: 100px;
  right: 50px;
  background-color: rgba(62, 62, 77, 0.3);
  padding: 20px;
  border-radius: 30px;
}

#jsScheduleForm {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.scheduleList-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  font-size: 18px;
}

.scheduleList-container h2 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.scheduleList-container ul {
  padding: 0 20px;
  max-width: 450px;
}
